.header {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}
.subtitle {
  font-weight: 100;
  font-size: smaller;
  color: gray;
}

ul {
  padding-inline-start: 0;
}

.overview {
  p {
    margin: 0;
  }
}

.mainTitle {
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }

  margin-bottom: 5rem;
}
.left {
  max-width: 40vw;
  display: flex;
  flex-direction: column; // Ensures children are stacked vertically
  > * + * {
    margin-top: 4rem; // Adjust this value for desired spacing
  }
}
.poster {
  width: 100%;
  height: auto;
}

@media (max-width: 1064px) {
  .header {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .left {
    max-width: 95vw;
    display: flex;
    flex-direction: column; // Ensures children are stacked vertically
    > * + * {
      margin-top: 2rem; // Adjust this value for desired spacing
    }
  }
}
