.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;

  h2 {
    color: orange;
    margin-left: 2rem;
  }
}
